.container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #0a0e17;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #6b7280;
  font-size: 14px;
  text-align: center;
}
